
#lang a {
  background-color: grey;
  text-decoration: none;
  margin: 10px 5px;
  padding: 5px 15px;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#lang a:hover {
  background-color: lightgrey
}

#lang {
  position: fixed;
  top: 10px;
  right: 10px;
}

img {
  float: left;
  height: 250px;
  margin: 0 10px 0 0;
}

#lang a.active {
  background-color: rgb(161, 77, 77);
}

#theme {
  background-color: rgb(215, 211, 211);
  text-decoration: none;
  margin: 10px 5px;
  padding: 5px 20px;
  border-radius: 3px;
}
